html, body{
	width: 100%;
	height: 100%;
	background-color: #efefef;
    overflow-x: hidden;
}
header{
	width: 100%;
}
.header-help{
	background-color: #fff;
	height: 75px;
    padding: 5px 0px;
}
.header-menu{
	background-color: #5cb85c;
	height: 50px;
}
.header-inner{
	max-width: 1200px;
	margin: auto;
}
.left-menu{
	float: left;
}
.right-menu{
	float: right;
}
.item-menu{
	color: rgba(255, 255, 255, .8) !important;
    height: 50px;
    min-width: 50px;
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    padding: 0px 10px;
}
.item-menu .fa{
	font-size: 20px;
	line-height: 50px;
}
.item-menu:hover{
	background: #fff;
	color: #5cb85c !important;
}
.header-brand{
	display: inline-block;
	padding: 0px 10px; 
}
.header-brand h3{
	margin: 0px;
	font-weight: bold;
	letter-spacing: 4px;
}
.header-brand h4{
	margin: 0;
	margin-top: -10px;
	letter-spacing: 5px
}
.header-block{
    display: inline-block;
    float: left;
    padding: 5px 10px;
    max-width: 260px;
}
.header-block .icon{
	width: 50px;
    display: inline;
    height: 60px;
    float: left;
    margin-right: 10px;
}
.header-block .icon img{
    width: 100%;
    height: auto;
    margin: 13px 0px;
    border: solid 1px #ccc;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.header-block .icon img:hover{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.header-block .desc{
    display: inline;
}
.header-block .desc .country{
    max-height: 15px;
    font-weight: bold;
    font-size: 11px;
}
.header-block .desc .address{
	max-height: 30px;
    font-size: 10px;
    color: #999;
}
.header-block .desc .phone{
	max-height: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #999;
}
.header-block .btn-donasi{
 	border: solid 3px #5cb85c;
    letter-spacing: 3px;
    margin: 11px;
    color: #5cb85c;
}
.header-block .btn-donasi:hover{
	background: #5cb85c;
	color: #fff;
}

.banner{
	width: 100%;
	height: 60vh;
}
.banner-item{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: grey;
}
.banner-item .banner-box{
    width: 300px;
    background: #fff;
    margin: 90px;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}
@media screen and (max-width: 468px){
	.banner-item .banner-box{
		width: 80% !important;
		margin: 10% !important;
	}
}
.banner-item .banner-box .time{
    text-align: right;
    display: inline;
    font-size: 11px;
    color: #fff;
    background: #666;
    padding: 3px;
    border-radius: 3px;
}
.banner-item .banner-box .title{
	font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
    color: #666;
}
.banner-item .banner-box .desc{
    color: #999;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.banner-item .banner-box .raise{
    width: 50%;
    float: left;
    border-right: dashed 1px #ccc;
    border-top: dashed 1px #ccc;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.banner-item .banner-box .raise .label{
    color: #999 !important;
    padding: 0px !important;
    display: block !important;
    text-align: left !important;
    margin-bottom: 5px;
}
.banner-item .banner-box .raise .value{
    color: #5cb85c;
    font-weight: bold;
    font-size: 20px;
}
.banner-item .banner-box .goal{
	width: 50%;
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-top: dashed 1px #ccc;
    margin-top: 20px;
}
.banner-item .banner-box .goal .label{
	color: #999 !important;
    padding: 0px !important;
    display: block !important;
    text-align: left !important;
    margin-bottom: 5px;
}
.banner-item .banner-box .goal .value{
    font-size: 20px;
    font-weight: bold;
}
.banner-item .banner-box .action{
    float: left;
    width: 100%;
    text-align: center;
    border-top: dashed 1px #ccc;
}
.banner-item .banner-box .action .btn{
    margin-top: 20px;
    background: #5cb85c;
    padding: 5px 30px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sd-icon{
	text-align: center;
}
.sd-icon img{
	padding: 20px;
    margin: auto;
    border: dashed 1px #ccc;
    margin-bottom: 20px;
}
.sd-icon:hover img{
	background-color: #efefef;
}

#clickbait{
	background: #5cb85c;
	color: #fff;
	font-size: 25px;
	padding-top: 20px !important;
}
#clickbait .btn{
	color: #fff;
    font-size: 16px;
    border: solid 3px #fff;
    letter-spacing: 2px;
    padding: 5px 25px;
    font-weight: bold;
    text-transform: uppercase;
}
#clickbait .btn:hover{
	padding: 5px 40px;
}

footer{
	padding: 40px 0px;
	background: #333;	
}
footer ul{
    list-style: none;
    padding: 0;
}

footer a,
footer h4,
footer h5,
footer h6,
footer p{
	color: #fff !important;
}
footer h5,
footer h6{
	margin-bottom: 5px;
}

.dmtop{
	background-color: #5cb85c !important;
}

.project{
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
	display: block;
	border: solid 1px #ccc;
}
	.project:hover{
		border: solid 1px #5cb85c;
	}
	.project .project-image{
		width: 100%;
		height: 200px;
	    display: inline-flex;
		background-color: #ccc;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
		.project .project-image img{
			width: 100%;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			object-fit: cover;
		}
	.project .project-title{
	    padding: 15px;
	    padding-bottom: 0px;
	    text-transform: uppercase;
	    color: #666;
	    font-weight: bold;
	    letter-spacing: 1px;
	}
	.project .project-category,
	.project .project-location{
		padding: 1px 15px;
		padding-top: 0px;
		color: #666;
	}
	.project .project-category .glyphicon,
	.project .project-location .glyphicon{
	    font-size: .8em;
    	margin-right: 5px;
	}
	.project .project-desc{
		color: #666;
		padding: 5px 15px;
		display: block;
	  	display: -webkit-box;
	  	max-height: 100px;
	  	margin: 0 auto;
  		font-size: 1em;
	  	line-height: 1.5em;
	    -webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		letter-spacing: .8px;
	}
	.project .project-maker{
		padding: 15px;
		display: inline-block;
	}
		.project .project-maker .avatar{
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: #5cb85c;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			line-height: 25px;
			display: inline-block;
			margin-right: 10px;	
		}
		.project .project-maker .name{
		    display: inline;
		    width: calc(100% - 35px);
		    color: #666;
		}
	.project .project-progress{
		padding: 5px 15px;
	}
		.project .project-progress .terkumpul{
			font-size: 1.5em;
			color: #666;
			margin-bottom: 5px;
		}
		.project .project-progress .progress{
			margin-bottom: 5px;
			display: inline-block;
			width: 100%;
		}
		.project .project-progress .status{
			font-size: 1em;
			color: #666;
			margin-bottom: 30px;
		}

section.main-wrapper{
	min-height: calc(100% - 350px);
	/*max-height: calc(100% - 350px);
	height: calc(100% - 350px);*/
}

.login,
.login .container{
	height: 100%;
}
.login form{
	margin-top: 50px;
	margin-bottom: 50px;
}
@media screen and (max-width: 468px){
	.login form{
		margin: 15px;
	}
}
.login form .form-box{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
}
label{
	font-weight: normal !important;
}

.dm{
	margin: 3em auto;
}
.mb{
	margin-bottom: : 3em;
}

.select2-container--default .select2-selection--single{
	height: 40px !important;
	border: 1px solid #e8e8e8 !important;
	border-radius: 1px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 38px !important;
}
.btn-def-size{
	height: 40px;
}

label.error{
	display: none !important;
}

.tab-content{
	float: left;
	margin-bottom: 3em;
    width: 100%;
}